@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: 10vh;
}

body {
  @apply antialiased;
  scroll-behavior: smooth;
}

@layer utilities {
  .bg-inherit {
    background-color: inherit;
  }

  /* images */
  img {
    image-rendering: -webkit-optimize-contrast;
  }

  /* 
  Currently Tailwind default `break-words` doesn't add word-break
  If this is ever added this can be removed
  */

  .break-words {
    overflow-wrap: normal;
    word-break: break-word;
  }

  /* Overflow */
  .overflow-scrolling-touch {
    -webkit-overflow-scrolling: touch;
  }

  /* Fix wrapper div inside portable text destroying prose */
  .prose-sm > div > :last-child {
    margin-bottom: 0;
  }
  .prose-sm > div > :first-child {
    margin-top: 0;
  }
  .prose > div > :last-child {
    margin-bottom: 0;
  }
  .prose > div > :first-child {
    margin-top: 0;
  }

  .preview {
    z-index: 999;
    position: fixed;
    right: 16px;
    top: 16px;
    padding: 6px 8px;
    background: black;
    color: white;
    font-size: 14px;
  }

  .preview:hover {
    text-decoration: underline;
  }
}

@import "./radix.css";
@import "./swiper.css";

.transform-style-3d {
  transform-style: preserve-3d;
}

@keyframes block-placeholder-fade {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes block-placeholder-move {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  50% {
    transform: translate3d(30%, 0, 0);
  }
  100% {
    transform: translate3d(-30%, 0, 0);
  }
}

.hyphens-auto {
  hyphens: auto;
}

.hyphens-manual {
  hyphens: manual;
}

.hyphens-none {
  hyphens: none;
}

details summary::-webkit-details-marker {
  display: none;
}

/*
script[type='application/ld+json'] {
  white-space: pre;
  display: block;
  z-index: 9999;
  background: white;
  padding: 10px;
  border-radius: 10px;
  color: #111;
}
*/

:root {
  --highlight-color: #2276fc;
}

.preview-highlight-hover:not(.absolute) {
  position: relative;
}

.preview-highlight-open:after,
.preview-highlight-hover:after {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--highlight-color);
  transition: opacity 0.25s;
  z-index: 999;
}

.preview-highlight-open:not(.absolute) {
  position: relative;
}

.preview-highlight-open .preview-block-edit-button {
  display: none !important;
}

/* Fancybox */
.fancybox__content {
  padding: 0 !important;
}

.fancybox__container.fix-iframe-height .fancybox__content {
  height: 90% !important;
}

/* Custom PT styles not in prose */

.title .list-disc,
.title .list-decimal,
.title .list-check {
  @apply list-inside;
}

.title .list-check {
  padding-left: 1.5em;
}
